.name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.job {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #000000;
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    left: 105%;
}

.section img {
    width: 100%;
}

.article_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    flex-basis: 42%;
}

.section_bill {
   margin-right: 45px;
}

.section_saba {
    top: 50px;
}

.section_shae {
    top: 50px;
    margin-right: 45px;
}

.section_skylah {
    top: 100px;
}

.section_griff {
   top: 100px;
   margin-right: 45px;
}

.section_stan {
    top: 150px;
}

@media (min-width: 800px) {
    .section {
        flex-basis: 27%;
    } 
    .section_bill {
        margin-right: 58px;
     }

     
     .section_saba {
         top: 70px;
         margin-right: 58px;
     }
     
     .section_shae {
         top: 0px;
         margin-right: 0px;
     }
     
     .section_skylah {
         top: 70px;
         margin-right: 58px;
     }
     
     .section_griff {
        top: 150px;
        margin-right: 58px;
     }
     
     .section_stan {
         top: 70px;
         margin-right: 0;
     }
       
}