.site_header {
    padding-top: 17px;
    padding-bottom: 38px;
}

.site_header__heading {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}